/* Generalne ustawienia responsywne start */

@media all and (max-width: 1200px) {
    
}
/*Menu responsywne start */
@media all and (max-width: 992px) {
   #main-nav .toggle {
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    #main-nav>ul {
        display: none;
    }
    #main-nav #drop:checked+ul {
        display: block;
    }
    #main-nac>ul>li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;     
    }
}

@media all and (max-width: 680px) {
    
}

/* Generalne ustawienia responsywne stop */ 

