/* Generalne ustawienia responsywne start */

@media all and (max-width: 1200px) {}

@media all and (max-width: 680px) {
    section {
        padding: 0 40px 50px;
    }
}


/* Generalne ustawienia responsywne stop */


/*Menu responsywne start */

@media all and (max-width: 992px) {
    #main-nav .toggle {
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    #main-nav>ul {
        display: none;
    }
    #drop:checked+ul {
        display: block;
    }
    #main-nav>ul>li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
    }
}


/*Menu responsywne stop */


/* Responsywny nagłówek start */

@media all and (max-width: 768px) {
    .main-header-content {
        padding: 10%;
    }
}

@media all and (max-width: 680px) {
    #main-header-content>h1 {
        font-size: 3em;
    }
    #main-header-content>h2 {
        font-size: 1.5em;
    }
}


/* Responsywny nagłówek stop */


/* Responsywna sekcja O mnie start */

@media all and (max-width: 768px) {
    #about figure {
        width: 100%;
    }
    #about>figure>img {
        max-height: inherit;
    }
    #about article {
        width: 100%;
        text-align: justify;
    }
}


/* Responsywna sekcja O mnie stop */


/* Responsywne portfolio start */

@media all and (max-width: 1200px) {
    .single-portfolio-item {
        width: 50%;
    }
    .single-portfolio-item:last-child {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    .single-portfolio-item {
        width: 100%;
    }
}


/* Responsywne portfolio stop */


/* Responsywna stopka kontaktowa start */

@media all and (max-width: 768px) {
    .contact-data {
        width: 100%;
        text-align: center;
    }
    .contact-form {
        width: 100%;
    }
    .contact-social-icons>a {
        margin: 0;
    }
    .contact>h2 {
        text-align: center;
    }
}


/* Responsywna stopka kontaktowa stop */